<p>
  <% container ||= @issue %>
  <strong><%= l(:attach_files) %></strong> (
  <% if container && container.is_a?(Issue) && !container.project.file_server.nil? %>
    <%= container.project.file_server.autoscan ? "" : link_to(l(:attach_rescan), { controller: :issues, action: :scan_files, :id => container }, :method => :post, :remote => true ) + " / "%>
    <%= link_to(l(:attach_browse), container.alien_files_folder_url(true), :target => "_blank") %>
  <% elsif !container.nil? && !container.project.file_server.nil? %>
    <%= container.project.file_server.autoscan ? "" : link_to(l(:attach_rescan), object_scan_attachments_files_path(container.class.name.underscore.pluralize, container.id, :back_url => request.original_url), :method => :patch ) + " / "%>
    <%= link_to(l(:attach_browse), container.project.file_server.ftpurl_for(Attachment.object_scan_path(container),true,false), :target => "_blank") %>
  <% end %>
)</p>
